<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Vamo Junto!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="scripts/default.js" type="text/javascript"></script>
    <meta name="keywords" content="">
    <meta name="description" content="Caronas">
    <link href="http://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div id="side-menu"></div>

    <div id="header" class="container">
      <div id="header-content">
      <div id="profile">

    <div id="user-detail">
        <img src="images/pic01.jpg" class="profile-image" alt="">
        <span id="user-name">Maria das Dores</span>
        <span id="user-info">Any info</span>
    </div>

      </div><div id="logo">
        <h2>#VamoJunto</h2>
      </div>

      <div id="menu">
        <ul>
          <li class="current_page_item"><a href="#" accesskey="1" title="">menu</a></li>
        </ul>
      </div>
      </div>
    </div>
    <div style="height: 73px;"></div>
    <div id="posts" style="
      display: inline-block;
    ">
    <div class="post-even">

        <img src="images/pic03.jpg" class="post-image">
        <ul id="post-info">
          <li><h1>Maria Joaquina</h1></li>
          <li>5 estrelas</li>
          <li>seg-sex</li></ul>

        <ul class="confirmed">
          <li><img src="images/pic01.jpg"></li>
          <li><img src="images/pic02.jpg"></li>
          <li><img src="images/pic03.jpg"></li>
          <li><img src="images/pic03.jpg"></li>
          <li><img src="images/interrogation.jpg"></li>
        </ul>
        <hr>
        <ul class="tags">
              <li id="partida">17:00</li>
              <li>Av. Giovanni Gronchi</li>
              <li>Marginal Pinheiros</li>
              <li>Bandeirantes</li>
              <li>Imigrantes</li>
              <li>Castelinho</li>
              <li>FEI</li>
              <li id="chegada">19:00</li>
          </ul>


      <a href="#" class="button" id="send-message">Vamo junto!</a>
    </div>
    <div class="post">

        <img src="images/pic02.jpg" class="post-image">
        <ul id="post-info">
          <li><h1>Maria Joaquina</h1></li>
          <li>5 estrelas</li>
          <li>seg-sex</li></ul>

        <ul class="confirmed">
          <li><img src="images/pic01.jpg"></li>
          <li><img src="images/pic02.jpg"></li>
          <li><img src="images/pic03.jpg"></li>
          <li><img src="images/interrogation.jpg"></li>
        </ul>
        <hr>
        <ul class="tags">
              <li id="partida">17:00</li>
              <li>Av. Giovanni Gronchi</li>
              <li>Marginal Pinheiros</li>
              <li>Bandeirantes</li>
              <li>Imigrantes</li>
              <li>Castelinho</li>
              <li>FEI</li>
              <li id="chegada">19:00</li>
          </ul>


      <a href="#" class="button" id="send-message">Vamo junto!</a>
    </div>
    <div class="post-even">

        <img src="images/pic01.jpg" class="post-image">
        <ul id="post-info">
          <li><h1>Maria Joaquina</h1></li>
          <li>5 estrelas</li>
          <li>seg-sex</li></ul>

        <ul class="confirmed">
          <li><img src="images/interrogation.jpg"></li>
          <li><img src="images/interrogation.jpg"></li>
          <li><img src="images/interrogation.jpg"></li>
          <li><img src="images/interrogation.jpg"></li>
        </ul>
        <hr>
        <ul class="tags">
              <li id="partida">17:00</li>
              <li>Av. Giovanni Gronchi</li>
              <li>Marginal Pinheiros</li>
              <li>Bandeirantes</li>
              <li>Imigrantes</li>
              <li>Castelinho</li>
              <li>FEI</li>
              <li id="chegada">19:00</li>
          </ul>


      <a href="#" class="button" id="send-message">Vamo junto!</a>
    </div>
    <div class="post">

        <img src="images/pic02.jpg" class="post-image">
        <ul id="post-info">
          <li><h1>Maria Joaquina</h1></li>
          <li>5 estrelas</li>
          <li>seg-sex</li></ul>

        <ul class="confirmed">
          <li><img src="images/pic01.jpg"></li>
          <li><img src="images/pic02.jpg"></li>
          <li><img src="images/pic03.jpg"></li>
        </ul>
        <hr>
        <ul class="tags">
              <li id="partida">17:00</li>
              <li>Av. Giovanni Gronchi</li>
              <li>Marginal Pinheiros</li>
              <li>Bandeirantes</li>
              <li>Imigrantes</li>
              <li>Castelinho</li>
              <li>FEI</li>
              <li id="chegada">19:00</li>
          </ul>


      <a href="#" class="button" id="send-message">Vamo junto!</a>
    </div>
  </div>

  <div id="copyright" class="container" style="padding: 0 !important;">
    <p>© Tritz - Tecnologia. All rights reserved</p>
  </div>




  </body>
</html>
